<div class="col-md-2"></div>
<div class="col-md-8">
    <table class="table table-striped table-hover">
        <thead>
            <td>{{ "name" | translate | capitalize }}</td>
            <td>{{ "kcal" | translate | capitalize }} </td>
        </thead>
        <tbody>
            <tr ng-repeat="item in items" ng-click="details(item.name)" style="cursor:pointer">
                <td>{{ item.name | translate | capitalize}}</td>
                <td>{{ item.calories }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-md-2"></div>